*{
    margin: 0%;
    padding: 0%;
    color: white;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}



main{
    height: 100%;
    width: 100%;
    background:linear-gradient(to right bottom,rgba(26, 26, 26, 0),rgb(35,35,35),black);
    padding: 20px;
    
     
}

section{
    height:100%;
    width:350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    
}

.all-reels{
    height: 100%;
    width: 100%;

    overflow: auto;
    scroll-snap-type:y mandatory;
    scroll-behavior:smooth;
    
}
.all-reels::-webkit-scrollbar{
    display: none;
}


.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    scroll-snap-align:start;
    scroll-snap-stop:always;

}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
    width: 100% ;  
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px ;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
}
.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 40px;
    position: absolute;
    /* transform: translateX(100%); */
    right: 0vw;
    align-items: center;
    bottom: 12px;
    border-radius: 10px;
    background: linear-gradient(to right,transparent,rgba(0, 0, 0, 0.056));
}
.right i{
    font-size: 25px;
}
.right h4{
    cursor: pointer;
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}

.right > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    cursor: pointer;
}



.like{
    color:red;
}



.right > div h4{
    pointer-events: none;
}
.right > div h6{
    pointer-events: none;
}

#mute{
    background-color: #333;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    
}
#mute i {
    font-size: 22px;
    pointer-events: none;
}
#mute:active{
    scale:0.95;
}
